html, body {
  font-family: 'Noto Sans', sans-serif;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  border-bottom: 1px solid #eee;
}

/* --------------- */

.matrix-container {
}

.matrix {
  border-spacing: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 95vmin;
  padding-right: 20px;
  
  overflow: auto;
  margin-right: 10px;
}

.matrix-row {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.tile {
  display: inline-block;
  padding: 0;
  margin: 0;
  cursor: pointer;  
  display: block;
  max-width:5%;
  /* max-height:5%; */
  width: auto;
  height: auto;
}

.tile-bought {
  border-radius: 50%;
}

.tile_incart {
  border: 2px solid white;
  border-radius: 2px;
}

.spacer {
  width: 25px;
}

.btn-grad {background-image: linear-gradient(45deg, #fc00ff 0%, #00dbde  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   transition: 0.5s;
   background-size: 150%;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
   border-color: white;
 }

 .btn-grad:hover,  .btn-grad:focus {
  background-size: 100%; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
  border-color: white;
}

.btn-grad:active {
  border-color: white;
  background-image: linear-gradient(45deg, #fb00ff92 0%, #00dbde92  100%) ;
  color: #eeeeee;
}

.asocial {
  margin-left: 10px;
  margin-bottom: 10px;
}

.ihatefrontend {
  color: #aaa;
  margin-top: 10px;
}

.text-bold {
  font-weight: bolder;
}